<ul class="d-flex flex-row justify-content-around navbar-nav text-uppercase ml-auto ">
    <li class="nav-item">
        <a class="nav-link" href="/admin">Admin</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/categories">Categories</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/posts">Posts</a>
    </li>
</ul>